@tailwind base;
@tailwind components;
@tailwind utilities;

.fc-daygrid-event:hover {
  background-color: transparent !important;
  color: inherit;
  box-shadow: none !important;
  border: none !important;
}
.fc .fc-daygrid-day-number {
  padding: 0;
  margin-left: 0;
}
